POLYMARKET_PRIVATE_KEY=0xYOUR_PRIVATE_KEY
POLY_ENABLE_DAILY_LOSS_STANDBY=false
POLY_ENABLE_DB_DUAL_WRITE=false
POLY_DB_HOST=127.0.0.1
POLY_DB_PORT=3306
POLY_DB_USER=root
POLY_DB_PASSWORD=root
POLY_DB_NAME=quantify
POLY_DB_CONNECT_TIMEOUT_S=5
